[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim-bufferline"]
	path = vim-bufferline
	url = https://github.com/bling/vim-bufferline.git
[submodule "undotree"]
	path = undotree
	url = https://github.com/mbbill/undotree.git
[submodule "vim-signify"]
	path = vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "ag.vim"]
	path = ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "vim-coffee-script"]
	path = vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
